
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
 }
 
 /* Contenedor del modal */
 .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
 }
 
 /* Botón de cerrar */
 .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
 }
 
 
 /* Login.css */
 .login_modal-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
   
    border-radius: 8px;
  
    text-align: center;
 }
 
 .login_modal-pregunta {
    color: #6B6B6B;
 }

 
 
 .login_modal-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
 }
 
 .login_modal-input:focus {
    border: 1px solid teal;
    outline: none;
 }
 
 .login_modal-button {
    width: 100%;
    padding: 10px;
    margin: 30px 0 10px;
    background-color: teal;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
 }
 
 .login_modal-button:hover {
    background-color:rgb(23, 93, 104);
 }
 
 
 
 .registro_modal-link {
    color: teal;
    
   
 }
 
 .registro_modal-link:hover {
    text-decoration: underline;
 }
 
 
 .tipo-selector {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    
 }
 
 .tipo-selector input[type="radio"] {
    display: none; /* Oculta los radio buttons */
    
 }
 
 .tipo-selector label {
    text-transform: capitalize;
    color: black;
    padding: 8px 20px 6px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    flex: 1;
    transition: all 0.3s ease-in-out;
    
    border: 1px solid #ccc;
 }
 .tipo-selector label:hover {
    border: 1px solid teal;
 }
 
 /* Estilo cuando el radio está seleccionado */
 .tipo-selector input[type="radio"]:checked + label {
    background-color: teal;
    color: white;
    padding: 8px 20px 6px 20px;
    border: 1px solid teal;
 }
 
 .inmobiliaria-fields {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.inmobiliaria-fields.visible {
    display: block;
    opacity: 1;
}


.registro-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.registro-input:focus {
    border: 1px solid teal;
    outline: none;
}

.registro_modal-form  {
   
}

