.publicar-container {
    text-align: center;
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .select-container {
    margin-top: 20px;
  }
  
  #tipo-propiedad {
    padding: 10px;
    font-size: 16px;
  }
  
  .componente-seleccionado {
    margin-top: 30px;
  }
  
  .crear-publicacion h2 {
    cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clickeable */
    color: #007BFF; /* Color base para los títulos */
    transition: color 0.3s ease; /* Transición suave para el hover */
}

.crear-publicacion h2:hover {
    color: #0056b3; /* Color más oscuro al pasar el cursor */
    text-decoration: underline; /* O cualquier otro estilo que quieras resaltar */
}

.radio-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-buttons input[type="radio"] {
  margin: 0;
}

.crear-publicacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.crear-publicacion input,
.crear-publicacion textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.crear-publicacion button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
